*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:ghostwhite;
    height:100%;
    animation: changebg 10s forwards infinite alternate;
}

.keyboard-video{
    height:400px;
    width:400px;
}
section#title-container{
width:100%;
height:30vh;
/* border:2px solid purple; */
}
#title-container-actual{
    width:inherit;
    height:inherit;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border:2px solid red; */
}
@keyframes changebg {
    from{
        background:ghostwhite;
        color:#333;
    }
    to{
        background:#333;
        color:#fff;
    }
}
#para-container{
    height:50%;
    max-width:50%;
    min-width:360px;
}
#title-div{
    height:100%;
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    position:relative;
    /* border:4px solid red; */
    overflow:hidden;
}

.h2-class{
    transition: .5s;
}
.translate-left{
transform:translate(-1000px,0);
transition: .25s;
}
.translate-restore{
transform:translate(0,0);
transition: .75s;
}
