*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:ghostwhite;
    height:100%;
    animation: changebg 10s forwards infinite alternate;
}

.keyboard-video{
    height:400px;
    width:400px;
}
section#title-container{
width:100%;
height:30vh;
/* border:2px solid purple; */
}
.daddy-container{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:1rem;
    transition:1s;
}
.hidden{
    opacity:0;
    pointer-events: none;
    transition:.25s;
}
#title-container-actual{
    width:inherit;
    height:inherit;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border:2px solid red; */
}
@keyframes changebg {
    from{
        background:ghostwhite;
        color:#333;
    }
    to{
        background:#333;
        color:#fff;
    }
}
.p-container{
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
p{
    max-width:50%;
    min-width:360px;
}
#para-container{
    height:50%;
    max-width:50%;
    min-width:360px;
}
#title-div{
    height:100%;
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    position:relative;
    /* border:4px solid red; */
    overflow:hidden;
}

.h2-class{
    transition: .5s;
}
.translate-left{
transform:translate(-1000px,0);
transition: .25s;
}
.translate-restore{
transform:translate(0,0);
transition: .75s;
}


/*containers in sections*/
#explanation-container{
    height:80vh;
    
}
.daddy-container:not(:nth-child(1)){
    height:100vh;
    /* border:2px solid red; */
}
.video-paused{
    cursor:pointer;
}
.video-feature,
.img-feature{
height:100%;
width:100%;
/* border:3px solid red; */
transition:.25s;
}
.label-container{
    transition:.25s;
}
.drop-down-label{
    transform:translate(0,90px);
    transition:.25s;
}
.drop-down-label-mobile{
    transform:translate(0,125px);
    transition:.25s;
}
#features-container{
width:100%;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.feature-div-container{
    height:100%;
    /* height:100%;
    width:100%; */
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border:4px solid green; */
    overflow-x:scroll;
    gap:2rem;
}

.feature-div{
    width:100%;
    /* border:2px solid  yellow; */
    transition: .75s;
}
.feature-div:hover{
    transform:scale(1.10);
    transition: .25s;
}