@media screen and (max-width:1000px){
    /* display:none; */
    #features-container{
        margin:5rem 0 0 0;
        height:100vh;
    }
    .test-div-wrapper{
        overflow:visible;
    }
    .feature-div-container{
        flex-direction: column;
        padding:2rem 0 0 0;
        height:100%;
        width:100%;
        overflow:visible;
        /* border:2px solid green; */
        gap:0;
        justify-content: center;
    }
    #explanation-container{
        height:100%;
        margin:0 0 5rem 0;
    }
    
    .feature-div{
        width:100%;
        /* border:2px solid purple; */
        margin-top:2rem;
        padding-top:2rem;
    }
    .video-container{
        flex-direction:row;
        justify-content: space-evenly;
        gap:3rem;
        
    }
    

.video-feature,.img-feature{
height:33%;
width:33%;
margin-left:1rem;
}

.video-feature:hover{
    transform:scale(1.05);
    transition: .25s;
}
}