@media screen and (max-width:1000px){
    .choice-spot{
    width:75%;
    transition:.5s;
    top:-3.25rem;
    }
 .play-icon{
    transform:scale(4)
 }   
 #color-pal{
  height:200px;
  width:200px;
 }
 .section-scroll-btn{
    /* left:2.5%; */
    display:none;
 }
 #color-pal{
   resize:none;
 }
 #scroll-container{
   display:none;
 }
 #choice-container{
   gap:0;
 }


}