*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    font-family:"Signika Negative", sans-serif;
}
html{
    scroll-behavior: smooth;
}

.no-pointer{
    pointer-events:none;
}
/* #mid-line{
    position:absolute;
    width:100%;
    bordeR:3px solid #f00;

} */
.section-scroll-btn{
    position:fixed;
    left:10%;
    /* border:2px solid red; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition:.25s;
    padding:.5rem;
    z-index:999;
}
.section-scroll-btn:nth-child(1){
top:50px;
}
.section-scroll-btn:nth-child(2){
top:100px;
}
.section-scroll-btn:hover{
    transition:.25s;
    box-shadow:0 0 8px .25px #fff;
    border-radius:50%;
}
.finger-border-active{
    transition:.25s;
    box-shadow:0 0 8px .25px #fff;
    border-radius:50%;
}
.hover-span{
    text-decoration:none;
    color:#fff;
    transform:Scale(1.5);
    transition: .25s;
}
.hover-span:hover{
    transform:Scale(1.25);
    transition: .25s;
}
.finger-glow{
    transform:Scale(1.25);
    transition: .25s;
}
.rotate-span{
    transform:rotate(180deg);
}
#insert-color{
    z-index:999;
    position:absolute;
    width:100px;
    top:5%;
    background:#f00;
    height: 100px;
    border-radius:50%;
    transition:.25s;
    /* Uncomment below to display the button to INSERT COLORS */
    display:none;
/*  */
}
#result-container{
    width:100%;
    height:50%;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:1.25rem;
    margin-top:-3rem;
}
.res-item{
height:50px;
width:33%;
border-radius:20px;
bordeR:1px solid lime;
padding:.25rem;
display:flex;
flex-direction:row;
align-items:center;
justify-content:space-evenly;
/* gap:1rem; */
position:relative;
}
.res-item>label{
    color:#fff;
    background:black;
    padding:.25rem;
    border-radius:12px;
    opacity:.9;
}
.res-item>h4{
    color:#fff;
    /* text-align:center; */
    font-size:24px;
    letter-spacing: 1.25px;
}
.res-item>h4:nth-child(1){
    position:absolute;
    left:0;
}
.res-item>h4:nth-child(1){
    position:absolute;
    right:0;
}

#insert-color:hover{
    transition:.25s;
    cursor:pointer;
    transform:scale(.9);
}
.result-container{
    width:100%;
}
.result-actual{
    color:#fff;
    text-align: center;
    padding:1rem 0;
}

body{
    overflow-y:scroll;
    scroll-behavior: smooth;
    width:100%;
    height:100vh;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    background:#333;
    justify-content: center;
}
#wrapper{
    height:100vh;
    width:100%;
}
#nav-container{
    width:70px;
    position:fixed;
    top:0;
    right:0;
    background:#707A7E;
    border-bottom-left-radius: 15px;
}
.full{
    height:500px;
    opacity:.9;}

.base{
    height:25px;
    opacity:.75;    
}
.base:hover{
animation:pulse .75s infinite alternate ease;
cursor:pointer;
}
@keyframes pulse {
    from{
        opacity:.5;
        height:25px;
    }
    to{
        opacity:1;
        height:55px;
    }
}
.copy-icon{
    position:absolute;
    right:20px;
    z-index:999;
    transform:scale(1.5);
    top:20px;
}

#copy-message{
    position:absolute;
    z-index:990;
    color:ghostwhite;
    letter-spacing: .5px;
    text-rendering: optimizeSpeed;
}
.coppied-message{
    top:-2.25rem;
    transition:.5s;
    opacity:1;
}
.coppied-message-hidden-down{
    bottom:0;
    transition:.5s;
    opacity:0;
}
.coppied-message-down{
    bottom:-2.25rem;
    transition:.5s;
    opacity:1;
}
.coppied-message-hidden{
    top:0;
    transition:.5s;
    opacity:0;
}

#choice-container{
    margin-top:1rem;
    height: 100vh;
    width:100%;
    display:flex;
    flex-direction: column-reverse;
    padding:0 .5rem;
    align-items: center;
    justify-content: space-evenly;
    gap:6rem;
}


.choice-spot{
/* border:3px solid blue; */
width:33%;
border-radius: 20px;
height:100px;
transform: .25s;
/* box-shadow: 0 0 8px .25px ghostWhite; */
opacity:.9;
background:transparent;
z-index:997;

display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
position:relative;
/* border:2px dotted violet; */

}

.color-input{
    margin-bottom:-.5rem;
    caret-color:transparent;
    outline: none;
    width:100%;
    height:85%;
    background:transparent;
    text-align:center;
    height:100%;
    border-radius:20px;
    bordeR:none;
    position:absolute;
    cursor:pointer;
    transition:.3s;
}
.color-input:hover{
    transform:scale(1.025);
    transition:.25s;
}
.copy-current{
    transform:scale(1.25);
    transition:.25s;
}
.copy-white{
    color:#fff;
}
.copy-dark{
    color:#000;
}
.copy-hover{
    transform:scale(.98);
    transition:.25s;
    cursor:pointer;
}
.hidden{
    opacity:0;
    transition:25s;
}
.z-index{
    z-index:999;
}
.light-color{
    color:ghostWhite;
}
.dark-color{
    color:#333;
}

.scroll>h4{
    min-width:100px;
    max-width:100px;
}

#scroll-container{
    gap:10rem;
    position:relative;
    width:50%;
    z-index:998;
    height:50px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.swoosh-right{
    opacity:0;
    transform:translate(150px,0);
    transition:1s;
}


.swoosh-left{
    opacity:0;
    transform:translate(-150px,0);
    transition:1s;
}
.come-back{
    opacity:1;
    transform:translate(0,0px);
    transition:1s;
}
.scroll{
    color:ghostWhite;
    z-index:999;
    height:50px;
    width:50px;
    border-radius: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition:.25s;
}
.scroll:hover{
    cursor:pointer;
    transform:scale(.9);
    transition:.25s;

}
.hover-effect{
    cursor:pointer;
    transform:scale(.9);
    transition:.25s;
}
.play-icon{
    transform:scale(5);
    animation: colorview 20s infinite alternate forwards ease;
    position:absolute;

}
.scroll>h4{
    position:absolute;
    top:-4rem;
    text-align:center;
}

/* Testing container*/
#test-container{
    width:100%;
    height:100vh;
    /* border:3px solid red; */
    display:flex;
    flex-direction:column;
    align-items:Center;
    justify-content:center;
}
.number-container{
    width:160px;
    height:75px;
    /* bordeR:3px solid red; */
    overflow:hidden;
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items: center;
    gap:.5rem;
}

.number-container>input{
    text-align:center;
    font-size:24px;
    width:75px;
    height:75px;
}

.btn-container{
    width:100%;
    display:flex;
    flex-direction:row-reverse;
    align-items: center;
    justify-content: space-evenly;
}
.btn-container>input{
    font-size:20px;
}

form#form{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    gap:1rem;
}

#color-pal-container{
    width:100%;
    height:100vh;
    margin-top:-6.85rem;
    /* bordeR:2px solid yellow; */
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content:end;

}
#color-pal{
    overflow:hidden;
    width:90%;
    height:400px;
    /* bordeR:4px solid yellow; */
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    /* border:8px solid rgb(0,51,238); */
    box-shadow: 0 0 1rem .5px ghostWhite;
    margin-bottom:2rem;
    min-height:250px;
    min-width:50%;
    max-width:88%;
    max-height:490px;
    resize:both;
}
#color-pal::-webkit-resizer{
    outline: 2px dashed red;

}
.color-pal-list-container{
    overflow-x:hidden;
    overflow-y:scroll;
    -ms-overflow-style: none;
    scrollbar-width:none;
    height:100%;
    width:100%;
    /* border:3px solid violet; */
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
    gap:8px;
}
.hover-li:hover{
    transform:scale(1.5);
    transition:.5s;
    cursor:pointer;
}
.color-pal-spot-container{
    height:50px;
    width:150px;
    bordeR:2px solid red;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    position:relative;

}

@media screen and (max-width:600px){
    .res-item{
        width:90%;
    }
}